      <div data-role="page" id="author" data-title="內容介紹"> 
         <div data-role="header" data-add-back-btn="true" data-back-btn-text="返回"> 
            
      <h1>內容介紹</h1>
      <a href="#jqm" data-rel="popup" class="ui-btn ui-btn-right ui-icon-info ui-btn-icon-left">關於
      <div data-role="popup" id="jqm" class="uicontent">
      <p>資料來源:官方網站</p>
      </div>
      </a> 
      </div>

      <div data-role="collapsible-set">
         <div data-role="collapsible" >
            <h2>青山農場門票</h2>
            <div data-role="collapsible">
               <h3>一.清潔入場費</h3>
               <p>1.成人-每人$100元</br>
                  2.兒童-每人$50元</br>
                  3.車輛-免費入場(請遵守指示停放)</br>
                  4.寵物-免費入場(請約束行為)
               </p>
            </div>

            <div data-role="collapsible">
               <h3>二.露營費用</h3>
               <p>1.自搭帳篷或炊事帳營位 每帳$200元</br>
                  2.租用毛毯每件$50元；睡墊每片$200元</br>
                  3.租用桌椅 每組$200元</br>
                  4.租用茶道具每組$300元(可自備茶葉，亦可當場購買)</br>
                  5.租用瓦斯爐 每組$250元(自備燈具費用照收)</br>
                  6.冷水浴室不收費；熱水浴室每人每次$50元</br>
                  ※ 以上出租用品需付押金或質押有效証件，如有損毀需照價賠償
               </p>
            </div>

            <div data-role="collapsible">
               <h3>三.住宿費用</h3>
               <p>1.八人份套房(彈簧床)每間$3000元</br>
                  2.八人份套房(和式)每間$2500元</br>
                  3.通舖每人$250元</br>
                  *套房內設衛浴設備</br>
                  *通舖內無個人衛浴。冷水浴室不收費；熱水浴室每人每次$50元</br>
                  *套房每加一人加收$250元；退房時間請於次日上午11點之前
               </p>
            </div>

            <div data-role="collapsible">
               <h3>四.膳食價目</h3>
               <p>1.早餐每桌$600元起/10人份(中式)</br>
                  *稀飯、肉鬆、花生、麵筋、花瓜、礁溪豆腐。</br>
                  2.午/晚餐每桌$2500元起/10人份(合菜)</br>
                  *蔥油白斬雞、荀絲蹄膀、香魚、溪蝦、透抽炒西芹、高麗菜(或時令青菜)、排骨湯。</br>
                  3.學生經濟餐每桌$1500元起/10人份(合菜)</br>
                  *學生經濟餐菜色請來電洽詢。</br>
                  4.烤炊食品(A)：$2500元/10人份</br>
                  *排骨肉、雞翅、玉米、甜不辣、豬血糕、花枝丸、豆干、香腸、青椒、生香茹、綠豆湯、土司麵包、木炭，含借用烤肉用具。</br>
                  5.烤炊食品(B)：學生優惠$2000元/10人份</br>
                  *豬肉片、雞翅、玉米、甜不辣、貢丸、米腸、香腸、豆干、綠豆湯、土司麵包、木炭，含借用烤肉用具。<br>
                  *食材類請於三日之前來電訂購，三日內恕難預訂。
               </p>
            </div>

            <div data-role="collapsible">
               <h3>五.鐵棚收費</h3>
               <p>使用場區內鐵皮頂棚空間，皆須預訂及付費使用，頂棚預訂劃位及費用請來電洽詢。</p>
            </div>

            <div data-role="collapsible">
               <h3>六.營火收費</h3>
               <p>高空點火及營火材料每組$1500元</p>
            </div>

            <div data-role="collapsible">
               <h3>七.天燈</h3>
               <p>天燈每頂$300元</p>
            </div>

         </div>
         <div data-role="collapsible">
            <h2>青山農場烤肉特色</h2>
            <div data-role="collapsible">
               <h3>農場特色</h3>
               <p>
                  1.青山綠水腹地廣大，適合休閒郊遊、舉辦活動。</br>
                  2.可停大型遊覽車，適合團體舉辦活動。</br>
                  3.營火晚會高空點火設備，別具特色。</br>
                  4.大小型三處室內活動廣場，提供租借。</br>
                  5.種植文旦、柚、李、水蜜桃等果樹供觀賞。</br>
                  6.種植各種花草供遊客觀賞。
               </p>
            </div>

            <div data-role="collapsible">
               <h3>農場注意事項</h3>
               <p>
                  1.遊客自身安全請自行負責；遊客個人財產亦請隨身攜帶自行保管。</br>
                  2.大型團體舉辦活動時請自備醫護人員隨行。</br>
                  3.本網頁資訊更新恕不另行通知。</br>
                  4.每年九月至十一月為本農場大型團體舉辦活動旺季，個人遊客建議先來電詢問場地情形。
               </p>
            </div>
         </div>
      </div>