      <div data-role="page" id="home" data-title="青山農場-首頁"> 
      <div data-role="header" > 
         <h1>青山農場</h1>
      </div>

      <div data-role="main" class="ui-content"> 
         <p>坪林青山農場座落於新北市坪林區，佔地面績廣大，坪林青山農場更提供露營、烤肉為主題，打造一個多樣化的休閒農場。坪林青山農場位於山明水秀之地，是一處學生聚會、全家出遊的最佳去處，在這裡盡情享受釣魚、捉蝦、營火晚會、賞花與觀星之美。</br>
            </br>
            </br>
            </br>
            </br>
            地址：232新北市坪林區石槽村48-1號</br>
            電話：02-2665-6165</br>
            營業時間：07:00–22:00</br>
         </p>
      </div>
      <% include indexFlooter %>
      </div>