<% include header %>
      <% include startPage %>
      <% include homePage %>
      <% include authorPage %>
      <% include indexFlooter %>
      </div>
      <% include mapPage %>
<% include flooter %>