<% include header %>
<div class="main">
<form class="form" method="post" action="#" name="form">
	<h2>登入介面</h2>
	<label>Number :</label>
	<input type="text" name="number" id="number">
	<label>Password :</label>
	<input type="password" name="password" id="password">
	<input type="submit" name="login" id="login" value="Login">
</form>
</div>
<% include flooter %>