		<div data-role="page" data-dialog="true" id="map" data-title="青山農場:交通地圖"> 
         <div data-role="header"> 
            <h1>交通地圖</h1>
         </div> 
         <div data-role="main" class="uicontent"> 
            <a href="https://www.google.com.tw/maps/dir//232%E6%96%B0%E5%8C%97%E5%B8%82%E5%9D%AA%E6%9E%97%E5%8D%80%E7%9F%B3%E6%A7%BD%E6%9D%9148-1%E8%99%9F%E9%9D%92%E5%B1%B1%E8%BE%B2%E5%A0%B4/@24.916596,121.7018177,13.25z/data=!4m15!1m6!3m5!1s0x0:0xfad50646bdbbf553!2z6Z2S5bGx6L6y5aC0!8m2!3d24.8950982!4d121.7361975!4m7!1m0!1m5!1m1!1s0x3467f924058d67cb:0xfad50646bdbbf553!2m2!1d121.736193!2d24.8951?hl=zh-TW"><img src="map.PNG" style="width:100%;height:auto;" >
         </div> 
      </div>